<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings file="C:\MyCode1\AppSettings1\AppSettings1.config">
      <add key="testKey1" value="a test value 1"/>
      <add key="testKey2" value="a test value 2"/>
      <add key="testKey3" value="a test value 3"/>
      <add key="testKey4" value="a test value 4"/>
    </appSettings>
</configuration>